<!-- templates/base.html.j2 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Social Insecurity - The social network for the insecure™" />
    <meta name="keywords" content="social network, security" />
    <title>{{ title }} - Social Insecurity</title>
    <!-- Local files -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}" />
    <!-- CSS from remotes -->
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Navbar -->
    {% if not current_user.is_authenticated %}
    <!-- Navbar for non-logged-in users -->
    <nav class="navbar navbar-dark bg-primary fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">Social Insecurity</a>
      </div>
    </nav>
    {% else %}
    <!-- Navbar for logged-in users -->
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('stream') }}">Social Insecurity</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-toggle"
          aria-controls="navbar-toggle"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-toggle">
          <ul class="navbar-nav me-auto mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link {% if title == 'Stream' %}active{% endif %}"
                href="{{ url_for('stream') }}"
                aria-current="{% if title == 'Stream' %}page{% endif %}"
                >Stream</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if title == 'Friends' %}active{% endif %}"
                href="{{ url_for('friends') }}"
                aria-current="{% if title == 'Friends' %}page{% endif %}"
                >Friends</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if title == 'Profile' %}active{% endif %}"
                href="{{ url_for('profile') }}"
                aria-current="{% if title == 'Profile' %}page{% endif %}"
                >Profile</a
              >
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}" role="button">Log Out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% endif %}

    <!-- Flash alert dialog -->
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <div class="container" style="margin-top: 80px;">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <main class="container" style="margin-top: 20px;">
      <!-- Content from child templates -->
      {% block content %}
      {% endblock content %}
    </main>

    <!-- Javascript from remotes -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <!-- Javascript from child templates -->
    {% block script %}
    {% endblock script %}
  </body>
</html>