<!-- templates/profile.html.j2 -->

{% extends "base.html.j2" %}
{% block content %}
  <div class="container-flex justify-content-center">
    <div class="row justify-content-center">
      <!-- Profile card -->
      <div class="col-sm-12 col-lg-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-3">About {{ user.username }}</h4> <!-- Changed 'username' to 'user.username' -->
            <button
              type="button"
              class="btn btn-link mb-3"
              onclick="switchVisibility('#edit-details', '#view-details')"
            >
              <span class="fa fa-edit me-1" aria-hidden="true"></span>Edit
            </button>
            <!-- View profile details -->
            <div id="view-details" style="display: block;">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row">
                    <span class="col-sm-4 font-weight-bold">Name:</span>
                    <span class="col-sm-8 text-muted">{{ user.first_name }} {{ user.last_name }}</span>
                  </div>
                </li>
                <!-- Similar changes for other fields -->
                <!-- ... -->
              </ul>
            </div>
            <!-- Edit details -->
            <div id="edit-details" style="display: none;">
              <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}  <!-- Added hidden_tag for CSRF protection -->

                <div class="mb-2">
                  {{ form.education.label(class="form-label") }}  <!-- Added label -->
                  {{ form.education(class_="form-control") }}
                </div>
                <div class="mb-2">
                  {{ form.employment.label(class="form-label") }}  <!-- Added label -->
                  {{ form.employment(class_="form-control") }}
                </div>
                <!-- Similar changes for other fields -->
                <div class="mb-3">
                  {{ form.birthday.label(class="form-label") }}  <!-- Added label -->
                  {{ form.birthday(class_="form-control") }}
                </div>
                <div>
                  {{ form.submit(class="btn btn-primary") }}
                </div>
              </form>
              <button
                type="button"
                class="btn btn-link mt-2"
                onclick="switchVisibility('#edit-details', '#view-details')"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
{% block script %}
  <script>
    function switchVisibility(elem1, elem2) {
      const viewDetails = document.querySelector(elem1);
      const editDetails = document.querySelector(elem2);

      viewDetails.style.display =
        viewDetails.style.display == "block" ? "none" : "block";
      editDetails.style.display =
        editDetails.style.display == "block" ? "none" : "block";
    }
  </script>
{% endblock script %}